body {
  margin: 0;
  background: #fdf6f6;
}

.hero {
  background: #2e2b2b;
  padding: 40px 0 5px 0;
  text-align: center;

}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-family: "major mono display", monospace;
}

h2,
h3 {
  font-family: "cutive mono", monospace;
}

h2 {
  color: #fdf6f6;
}

h3 {
  color: #5a5a5a;
  padding: 10px;
}

.container {
  display: flex;
}

#description {
  font-family: "david libre", serif;
  font-size: 25px;
  color: #2e2b2b;
}

.home {
  font-size: 85px;
  color: #fdf6f6;
}

.about {
  font-size: 60px;
  margin-top: 50px;
  padding: 20px;
  text-align: center;
}
.about-description {
  text-align: center;
  padding-bottom: 40px;

}
a {
  text-align: center;
  display: block;
  color: var(--primary-color);
}

:root {
  --primary-color: #388186;
  --secondary-color: #f5f2fe;
}

.buttons {
  margin: 20px 0 50px 0;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.contact {
  margin: 0 20px;
  padding: 20px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  background-color: var(--primary-color);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}

.button1 {
  text-decoration: none;
  color: white;
}

.me {
  margin: 0 20px;
  padding: 20px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

.button2 {
  text-decoration: none;
  color: var(--primary-color);
}
#hero-about {
  background: #2e2b2b;
  margin: 0;
  max-width: 100%;
}

#mine {
  background-color: var(--secondary-color);
  max-width: 450px;
  width: 100%;
  display: block;
}

#story {
  font-size: 20px;
  text-align: justify;
  line-height: 2;
  margin: 50px 5px;
  color: #fdf6f6;
  padding: 10px 50px 10px 10px;
}

h2.fs-1 {
  color: #212529;
}

p {
  line-height: 1.5;
  font-size: 18px;
  padding: 10px 0;
  font-family: "cutive mono", monospace;
}

.launch {
  display: inline;
  padding: 20px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  background-color: var(--primary-color);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  text-decoration: none;
  color: white;
}

@media (max-width: 576px) {
  #top {
    display: none;
  }

  .home {
    font-size: 65px;
  }

  .bio {
    font-size: 25px;
  }

  #greetings {
    font-size: 30px;
  }
  #bottom {
    text-align: center;
  }
  #mine {
    display: none;
  }
}
